body {
    background: #001e4d;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 20px;
}

.app {
    background: #fff;
    width: 90%;
    max-width: 800px;
    margin: 80px auto 0;
    border-radius: 10px;
    padding: 30px;
}

.app h1 {
    font-size: 25px;
    color: #001e4d;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
    text-align: center;
}
.quiz-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    margin-top: 20px;
}
.manual-btn {
    background: #fff;
    color: #222;
    font-weight: 500;
    border: 1px solid #222;
    padding: 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}
.manual-btn:hover {
    background: #001e4d;
    color: #fff;
}

#answer-buttons {
    padding-left: 0;
}

#answer-buttons .btn {
    background: #fff;
    color: #222;
    font-weight: 500;
    border: 1px solid #222;
    padding: 15px;
    margin: 10px 0;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
    width: 100%;
    text-align: left;
    font-size: 16px;
    box-sizing: border-box;
    display: block;
}

#answer-buttons .btn.correct {
    background: #9aeabc;
    border-color: #009432;
}

#answer-buttons .btn.incorrect {
    background: #ff9393;
    border-color: #ff0000;
}
