ul.answer-list {
    list-style-type: disc;
    padding-left: 24px;
    margin: 0 0 20px 0;
}

ul.answer-list li {
    background: #fff;
    color: #222;
    font-weight: 500;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

ul.answer-list li.correct {
    background: #9aeabc;
    color: #222;
}

ul.answer-list li.incorrect {
    background: #ff9393;
    color: #222;
}

ul.answer-list li.disabled {
    cursor: not-allowed;
    pointer-events: none;
}
